* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
}

#nav-body {
  background-color: black;
  width: 100%;
  height: 3.5rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  color: white;
  position: absolute;
  left: 3vw;
}

#logo {
  width: 40px;
  margin-right: 1rem;
  vertical-align: middle;
}

.name {
  vertical-align: middle;
}

.search-container {
  color: white;
  position: relative;
  right: 10vw;
}

.searchBox {
  float: right;
  width: 30vw;
  border-radius: 13px;
  height: 40px;
  margin-left: 10px;
  padding-left: 20px;
  font-weight: 300;
}

#menu {
  margin: 1.5rem;
  right: 0;
  font-weight: 400;
  position: absolute;
  color: white;
}

.navIcon {
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: medium;
  background-color: black;
  border: 0px;
  outline: 0px;
  padding: 0 20px 0 0;
  text-align: left;
}

.homepage {
  background-color: rgb(48, 48, 48);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: xx-large;
  position: relative;
  top: 20vh;
  right: 20vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
