@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,400;0,500;0,600;1,500;1,600&family=Domine:wght@700&display=swap');

* {
    box-sizing: border-box;

  }

  html, body {
	height: 100%;
	overflow-x: hidden;

}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

  :root {
    --sans: "Meta", sans-serif;
    --serif: "Meta Serif", serif;
    --color-bkg: rgb(255, 255, 255);
    --color-text: #000;
    --color-hover: rgb(120, 120, 120);
    --color-placeholder: rgb(200, 200, 200);
    --green: #0c0;
    --gray30: rgb(30, 30, 30);
    --gray60: rgb(60, 60, 60);
    --gray80: rgb(80, 80, 80);
    --gray120: rgb(120, 120, 120);
    --gray200: rgb(200, 200, 200);
    --gray220: rgb(220, 220, 220);
    --gray235: rgb(235, 235, 235);
    --gray245: rgb(245, 245, 245);
    --gray250: rgb(250, 250, 250);
    --hint-bkg: rgb(230, 230, 230);
    --baseline: 8px;
    --gutter: 24px;
    --row-width: calc(100vw - var(--gutter));
    --b05: calc(var(--baseline) / 2);
    --b1: var(--baseline);
    --b2: calc(var(--baseline) * 2);
    --b3: calc(var(--baseline) * 3);
    --b4: calc(var(--baseline) * 4);
    --b5: calc(var(--baseline) * 5);
    --b6: calc(var(--baseline) * 6);
    --b7: calc(var(--baseline) * 7);
    --b8: calc(var(--baseline) * 8);
    --b9: calc(var(--baseline) * 9);
    --b10: calc(var(--baseline) * 10);
    --b11: calc(var(--baseline) * 11);
    --b12: calc(var(--baseline) * 12);
    --b13: calc(var(--baseline) * 13);
    --b14: calc(var(--baseline) * 14);
    --b15: calc(var(--baseline) * 15);
}

html {
    background-color: var(--color-bkg);
    color: var(--color-text);
    font-weight: 400;
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-feature-settings: "liga" 1,"kern" 1;
}
  
.Homepage {
    text-align: center;
    background-color: #F5F5F4;
  }

.div {
    display: block;


  }

.container {
    width: 100%;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }



@media (min-width: 768px)

.col-md-3 {
    width: 25%;
    }


.col-6 {
    width: 50%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-1-5, .col-2-5 {
    padding-right: calc(var(--gutter) / 2);
    padding-left: calc(var(--gutter) / 2);
    flex: 0 0 auto;
}


.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc(-1 * var(--gutter) / 2);
        margin-left: calc(-1 * var(--gutter) / 2);
        flex: 0 1 auto;
        flex-direction: row;
}

.nft-item {
    margin-left: 20px;
    margin-bottom: 48px;
    margin-bottom: calc(var(--gutter) * 2);
}

.nft-item-title {
    color :#000;
    font-family: 'Domine';
    /* font-family: "Arial"; */
    /* font-family: var(--serif); */
    font-size: 20px;
    line-height: calc(22 / 17);
}

.explanation-title {
    font-family: "Archivo";
    font-size: 50px;
    padding-top: 35px;
    padding-bottom: 40px;

}


    
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, small {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
    
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.nft-item-date {
    color:#000;
    font-family: "Archivo";
    padding-top: 0.5em;
}

small {
        font-size: 13px;
        line-height: calc(16 / 13);
        display: block;
}

.nft-item-info {
    font-family: "Archivo";
    position: relative;
    padding: 0px 40px 12px 10px;
    background: #fff;
    margin-top: 2px;
}

.footer {
    font-family: "Archivo";
    padding : 17px;
    color:#000000;
    /* background-color: #a3e2cb; */
}
  

.search-container {
    justify-content: space-between;
    margin-left: 17em;
}
